[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
body {
  font-family: 'PT Serif', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
h3 {
  text-transform: uppercase;
  font-size: 30px;
}
.recentTracks {
  list-style-type: none;
}
.recentTracks li img {
  float: left;
  margin-right: 15px;
}
.angular-google-map-container {
  height: 400px;
}
